name: "Make installer action"
on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: windows-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Run Python script
        run: python ..\\pyinst_env\\set_version.py
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.11'
          spec: 'lib.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'lib.exe'
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: tag-${{ github.run_id }}-${{ github.run_attempt }}
          name: rel-${{ github.run_id }}-${{ github.run_attempt }}
          files: ./dist/lib.exe
